//margin 居中
.magin{
	margin: 0 auto;
}
//文字居中
.text-left{
	text-align: left;
}
.text-center{
	text-align: center;
}
.text-right{
	text-align: right;
}
//float 浮动
.float-left{
	float: left;
}
.float-right{
	float: right;
}